<a href="https://colab.research.google.com/github/swastikkmaurya/practical5/blob/main/Experiment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Swastik Maurya
#25070123114
#Study of Python Dictionaries

In [ ]:
#creation of Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
#Dictionary takes latest value given for a key.it will not allow
thisdict = {
    "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
    "year": 2020
}
print(thisdict)
#length of key value pairs
len(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

3

In [ ]:
#Changing/Adding key value in dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car["color"] = "red"
print(type(car))
print(car)
x = car.values()
print(x) # after the changes

<class 'dict'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [ ]:
student = {
    "roll" : 101,
    "name": "Vedant",
    "branch": "ENTC"

}
print("Name:",student["name"])

Name: Vedant

In [ ]:
#Removing Element
student.pop("branch")
print("After removal :",student)

After removal : {'roll': 101, 'name': 'Vedant'}

In [ ]:
''' A dictionary stores product name and their prices.
Write a Pyhton program to update the price of given product. '''

product = {
    "milk": 38,"book": 50,"scale": 20 }
print("Original Product : ",product)
product["book"]=55
print("Updated product: ",product)

Original Product :  {'milk': 38, 'book': 50, 'scale': 20}
Updated product:  {'milk': 38, 'book': 55, 'scale': 20}

In [ ]:
'''2.A dictionary stores student names and marks.
Write a Python program to search for a student's marks using the name
If the student is not found, display suitabkle message . '''

marks ={"A":85,"B":79,"C":90}
name = input("Enter the student name: ")
print(marks.get(name,"Student not found"))

Enter the student name: D
Student not found

In [ ]:
'''3. A dictionary stores username and passwords.
Write a python to Valdiate user login.'''

users= { "admin": '1234',"student": "abcd"}
user_name=input("username: ")
pw=input("passwords: ")
if users.get(user_name)==pw:
  print("Welcome")
else:
    print("wrong password")

username: admin
passwords: 1234
Welcome

In [ ]:
'''4. A dictionary stores student names and marks .
write a python  progam to find the student who scored the highest'''

marks = {"A":85,"B":79,"C":90}
topper =max(marks,key=marks.get)
print("topper : ",topper)
print("Marks: ", marks[topper])

topper :  C
Marks:  90